#primary-menu {
  display: none;
}

.header-menu-logo {
  height: 48px;
  width: 200px;
  margin-left: 50px;
  background: url('../../assets/Caravel-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: $color__text-main;
}

.header-wrapper {
  @media all and (max-width: 650px) {
    width: 100%;
  }
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel1 {
  @media all and (max-width: 650px) {
    padding-top: $navigtion__height;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color__background-screen;
  color: $color__text-main;
  position: relative;
  z-index: 2;
  h1 {
    width: 240px;
    margin: 0 auto;
    opacity: 0;
    font-size: 4rem;
    font-weight: 700;
    font-family: $font__accent;
    text-align: center;
    animation: fadeIn 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    position: relative;
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      height: 3px;
      width: 0;
      bottom: -10px;
      left: 0;
      background-color: #000;
      animation-name: h1pseudo;
      animation-duration: 0.7s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 2.5s;
    }
  }
  h3 {
    span {
      opacity: 0;
      position: relative;
      margin: 0 2rem;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 100;
    }
    span:nth-of-type(1) {
      animation: fadeIn 0.5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    span:nth-of-type(2) {
      animation: fadeIn 0.5s;
      animation-delay: 1.3s;
      animation-fill-mode: forwards;
    }
    span:nth-of-type(3) {
      animation: fadeIn 0.5s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;
    }
  }
  .header {
    @media all and (max-width: 650px) {
      max-width: 300px;
    }
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-content {
    @media all and (max-width: 650px) {
      text-align: center;
    }
    opacity: 0;
    width: 90%;
    margin: 2rem auto;
    position: relative;
    line-height: 35px;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 3px;
    animation: fadeIn 0.7s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }
}

.header-container {
  @media all and (max-width: 650px) {
    padding-top: $navigtion__height;
  }
  width: 100%;
  padding: 10rem 5%;
  background-color: $color__background-body;
  h1 {
    font-family: $font__accent;
    font-size: 3rem;
  }
  p {
    letter-spacing: 3px;
  }
}

.second-container {
  background-color: $color__background-screen;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  @media all and (min-width: $tablet) {
    margin-left: 5%;
  }
}

.dots-container {
  margin-right: 5%;
  padding: 0 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .dots {
    height: 19rem;
    width: 100%;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color__background-screen;
  }
  .specialization-content {
    background-color: $color__background-body;
    &-wrapper {
      width: 70%;
      margin: 5rem auto;
      a {
        width: auto;
        text-decoration: none;
        position: relative;
        @media all and (min-width: $tablet) {
          width: 245px;
        }
      }
      a:after {
        position: absolute;
        content: '';
        height: 3px;
        bottom: -7px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 70%;
        background: $color__navy;
        transition: 0.5s;
      }
      a:hover:after {
        width: 100%;
      }
    }
  }
}

.services-container {
  z-index: 1; // overflow: hidden; // background: url('../../assets/Caravel_ship.jpg') bottom left no-repeat;
  // background-size: 100% 250%; // background-attachment: fixed;
  margin: 0 auto;
  height: 700px; // background-color: $color__background-body;
  padding: 5% 8%;
  height: 700px; // background-color: $color__background-screen;
  position: relative;
  padding: 8%;
  padding-top: 2%;
  align-self: center;
  @include medium {
    height: 550px;
  }
}

// .sliding-background {
//   z-index: -1;
//   position: absolute;
//   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.9))), url('../../assets/ship_silhouette_3.jpg') no-repeat;
//   height: 550px;
//   width: 6000px;
//   animation: slide 60s linear infinite; // animation: rotate 10s linear infinite;
// }
@keyframes slide {
  0% {
    transform: translate3d(1400px, 0, 0);
  }
  10% {
    transform: translate3d(960px, 20px, 0);
  }
  20% {
    transform: translate3d(720px, -20px, 0);
  }
  30% {
    transform: translate3d(480px, 20px, 0);
  }
  40% {
    transform: translate3d(240px, -20px, 0);
  }
  50% {
    transform: translate3d(0px, 20px, 0);
  }
  60% {
    transform: translate3d(-240px, -20px, 0);
  }
  70% {
    transform: translate3d(-480px, 20px, 0);
  }
  80% {
    transform: translate3d(-720px, -20px, 0);
  }
  90% {
    transform: translate3d(-960px, 20px, 0);
  }
  100% {
    transform: translate3d(-1200px, -20px, 0);
  }
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $color__background-body;
  padding-bottom: 40px;
  @include medium {
    width: 50%;
    padding-bottom: 0;
  }
  h4 {
    font-size: 20px;
    font-weight: 100;
    max-width: 70%;
  }
  span {
    color: $color__navy;
  }
}

// .find-out-container {
//   display: flex;
//   .find-out-blurb {
//     line-height: 4;
//     div {
//       background-color: $color__navy;
//       height: 2px;
//       width: 211px;
//     }
//   }
// }
.title-paragraph-container {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    padding: 20px;
    font-family: $font__accent;
    font-weight: 100;
    font-size: 3rem;
  }
  p {
    align-self: center;
    margin-top: 0;
    margin-left: 3%;
  }
}

.bullet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 3;
  @include medium {
    flex-direction: row;
  }
}

.bullet-point {
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  @media all and (min-width: 350px) {
    letter-spacing: 1px;
  }
}

.bullet-blue-line {
  height: 2px;
  width: 10px;
  background-color: $color__navy;
  margin-right: 10px;
}

.photo-container {
  img {
    width: 100%;
  }
}

.our-work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media all and (min-width: 1000px) {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
}

.work-wrapper {
  height: 500px;
  width: 400px;
  @media all and (min-width: 800px) {
    width: 600px;
  }
  @media all and (min-width: 1000px) {
    margin: 0 3%;
  }
  @media all and (min-width: 1100px) {
    margin: 0 5%;
  }
  @media all and (min-width: 1440px) {
    margin: 0 10%;
  }
  .laptop {
    position: absolute;
    width: 500px;
    z-index: 2;
    margin: 72px 0 0 -49px;
    @media all and (min-width: 800px) {
      margin: 72px 0 0 49px;
    }
  }
}

.work-carousel {
  width: 100%;
}

.our-work-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media all and (min-width: 1000px) {
    height: 800px;
    min-width: 400px;
    max-width: 35%;
  }
  background-color: #000;
  padding: 3%;
  h2 {
    margin: 0;
    padding: 20px;
    font-family: $font__accent;
    font-weight: 100;
    font-size: 3rem;
    color: $color__text-light;
    @media all and (min-width: 1000px) {
      text-align: left;
      padding-left: 0;
    }
  }
  h3 {
    color: $color__text-light;
    font-weight: 100;
    text-transform: uppercase;
  }
  p {
    color: $color__text-light;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    @media all and (min-width: 1000px) {
      text-align: left;
      padding-right: 55px;
      margin: 0;
      margin-bottom: 20px;
    }
    @media all and (min-width: 1440px) {
      padding-right: 0px;
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    position: relative;
    color: $color__text-light;
  }
  a:after {
    position: absolute;
    content: '';
    height: 4px;
    bottom: -5px;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: $color__navy;
    transition: 0.5s;
  }
  a:hover:after {
    width: 100%;
  }
}

.our-work-header {
  background-color: #000;
  font-family: $font__accent;
  font-size: 2rem;
  text-align: center;
  color: $color__text-light;
  position: relative;
  h2 {
    margin: 0;
    padding: 20px 0;
    font-weight: 100;
  }
}

.team-background {
  background-color: #000;
}

.team-wrapper {
  padding: 5% 1%;
  background-color: $color__background-screen;
  @media all and (min-width: $tablet) {
    margin-right: 5%;
    padding: 5% 0;
  }
  h2 {
    margin: 0;
    padding: 20px;
    font-family: $font__accent;
    font-weight: 200;
    text-align: center; // margin-left: 20%;
    font-size: 3rem;
  }
  p {
    margin: 0 0 0 3%;
  }
}

.team-container {
  p {
    margin: 0 auto;
    max-width: 100%;
  }
  img {
    width: 150%;
    height: auto;
  }
}

.team-top-row {
  @include desktop {
    background: url('../../assets/3dots.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: unset;
    background-position-y: 40%;
    background-position-x: 94%;
    z-index: 10;
  }
  display: flex;
  justify-content: space-around;
  @media all and (max-width: 650px) {
    padding-right: 0;
    padding: 0;
  }
  @media all and (min-width: 650px) {
    padding-right: 5%;
  }
  @media all and (min-width: 950px) {
    padding-right: 15%;
  }
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 15%;
}

.team-second-row {
  @include desktop {
    background: url('../../assets/3dots.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: unset;
    background-position-y: 40%;
    background-position-x: 6%;
  }
  display: flex;
  justify-content: space-around;
  @media all and (max-width: 650px) {
    padding-right: 0;
    padding: 0;
  }
  @media all and (min-width: 650px) {
    padding-left: 5%;
  }
  @media all and (min-width: 950px) {
    padding-left: 15%;
  }
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
}

.team-single {
  @media all and (max-width: 650px) {
    width: 90%;
  }
  width: 40%;
  padding: 5%;
}

.position {
  color: $color__navy;
  font-weight: 100;
}

.dont-hesitate-container {
  padding: 10%;
  @media all and (min-width: 600px) {
    margin-left: 5%;
  }
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 60px;
    padding: 4% 0;
    padding-right: 20%;
  }
  a {
    text-decoration: none; // position: relative;
    // font-weight: 100;
    // padding: 4% 10% 0 10%;
    // cursor: pointer;
    // color: $color__text-light;
  }
}

@keyframes slideup {
  from {
    margin-bottom: 0;
    opacity: 1;
  }
  to {
    margin-bottom: 300px;
    opacity: 0;
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes h1pseudo {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 15px;
  }
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}