/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.site-header {
	margin-top: 32px;
	display: flex;
	align-items: center;
}

.main-navigation {
	width: 100%;
  height: $navigtion__height;
  max-width: $site__width;
  position: fixed;
  z-index: 10;
	display: flex;
	justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: $color__background-body; // box-shadow: 0 1px 6px rgba(0, 0, 0, .16), 0 1px 6px rgba(0, 0, 0, .23);
  animation: nav 0.5s;
  animation-fill-mode: forwards;
	animation-delay: 3.25s;
	@media all and (min-width: 620px) {
		justify-content: center;
	}
}

.nav-menu-container {
	display: none;
	@media all and (min-width: 620px) {
		display: block;
		width: 100%;
		ul {
			width: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin: 0 1rem;
				list-style: none;
				a {
					text-decoration: none;
					color: #000;
					&:hover {
						color: #999;
					}
					&:visited {
						color: #000;
					}
				}
			}
		}
	}
}


// NAV TOGGLED STYLES

.toggle-container {
	padding-right: 20px;
	display: flex;
	align-items: center;
	@media all and (min-width: 620px) {
		display: none;
	}
	.hamburger--slider {
		background: #fff;
		box-shadow: none;
		text-shadow: none;
		border: none;
		cursor: pointer;
	}
}


#toggle {
	display: none;
}	

.mobile-nav {
	position: absolute;
	z-index: 10;
	top: 75px;
	right: 0;	
	display: block;
	background-color: white;
	ul{
		padding: 100px;
	}
	li {
		margin: 1rem 0;
		list-style: none;
	}
}


// #toggle:checked {
// 	.nav-menu-container {
// 		display: block !important;
// 		position: absolute;
// 		top: 10px;
// 		ul {
// 			background-color: red;
// 		}
// 	}	



// }













/* Links */

a {
	cursor: pointer;
	text-decoration: none !important;
	color: $color__text-main;
	&:visited {
		color: $color__text-main;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;
// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;
// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: $base__space-unit;
// 			left: -999rem;
// 			z-index: 99999;
// 			ul {
// 				left: -999rem;
// 				top: 0;
// 			}
// 			li {
// 				&:hover>ul,
// 				&.focus>ul {
// 					left: 100%;
// 				}
// 			}
// 			a {
// 				width: 200px;
// 			}
// 		}
// 		li:hover>ul,
// 		li.focus>ul {
// 			left: auto;
// 		}
// 	}
// 	li {
// 		float: left;
// 		position: relative;
// 	}
// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}
// }

// /* Small menu. */

// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {
// 	.site-main & {
// 		margin: 0 0 $base__space-unit;
// 		overflow: hidden;
// 	}
// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}
// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }